.main-div-cat {
    height: 100vh;
    width: 100%;
}

.navbar-cat {
    //background: transparent;
    background-color: #f7f7f7;
    // border-radius: 25px !important;
    //padding: 10px;
    z-index: 30;
    height: 10rem;
    //opacity: calc(1);
}

.bio-logo {
    top: 10%;
    width: 3rem;
    height: 4rem;
}

.sec-cat{
    background: #efefef;
    padding-left: 10rem;
    padding-top: 3rem;
    padding-bottom: 2rem;


    .addcat-btn {
        border-radius: 25px;
        //margin-right: 10px;
        font-weight: bold;
        padding: 7px 10px 8px 21px;
        //margin-top: 23px;
        background-color: transparent;
        color: black;
        float: left;
        border: 2px solid black;
        text-decoration: none;
        font-size: 18px;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: right;
        transform: translate(0%, 0rem);
    }

    .addcat-btn:hover {
        color: #f6913a !important;
        border: 2px solid #f6913a;
        font-weight: bold;
        text-align: center;
    }

    .update-btn {
        border-radius: 25px;
        //margin-right: 10px;
        font-weight: bold;
        padding: 7px 10px 8px 21px;
        //margin-top: 23px;
        background-color: transparent;
        color: grey;
        float: left;
        border: 2px solid grey;
        text-decoration: none;
        font-size: 18px;
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: right;
        transform: translate(15%, 0rem);
    }
    .update-btn:hover {
        color: #f6913a !important;
        border: 2px solid #f6913a;
        font-weight: bold;
        text-align: center;
    }
}

.hehehhe {
    text-align: center;
    text-decoration: none;
    
    
}
